html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

canvas {
    width: 100%;
}

.banner {
    position: fixed;
    bottom: 10px;
    left: 0;
    overflow: hidden;
}

.banner > * {
    display: block;
    padding: 20px;
    max-width: 8cm;
    position: relative;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    font-size: 4.5mm;
    line-height: 0.2;
    font-family: 'Pattaya', sans-serif;
}

.banner.first {
    animation: grink 6s linear forwards;
}

.banner.first > * {
    background-color: rgba(48, 181, 204, 0.5);
}

.banner.second {
    width: 0;
    animation: grink 6s linear forwards;
    animation-delay: 7s;
}

.banner.second > * {
    background-color: rgba(48, 204, 126, 0.5);
}

.banner > .main {
    font-weight: 500;
}

.banner > .sub {
    font-weight: 100;
}

@keyframes grink {
    0% { width: 0 }
    25% { width: 100%; }
    75% { width: 100%; }
    100% { width: 0; }
}